@CHARSET "UTF-8";

.mytable.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.mytable.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #a9c6c9;
}
.mytable.hovertable tr {
	background-color:#d4e3e5;
}
.mytable.hovertable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #a9c6c9;
}