<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/css/bootstrap.css" />
<script type="text/javascript" src="__PUBLIC__/jui/jquery.min.js"></script>
<title>微信签到系统绑定</title>
<script type="text/javascript">
	function checkBind(){
		tenant_id=$('#tnt_id').val();
		uid=$('#uid').val();
		password=$('#password').val();
		if(tenant_id.length==0 || uid.length==0 || password.length==0){
			alert("输入不能为空");
			return false;
		}
		openID="{$openID}";
		$.post("__MODULE__/Weixin/doBind",{"tnt_id":tenant_id,"uid":uid,"password":password,"openID":openID},function(data){
			if(data['status']){				
		//		alert("绑定成功!");
				$('.col-md-12').hide();
				$('.row').html("<font color='green'>绑定成功！注意：普通用户还需实名认证，请通过配置中的实名认证上传自己的头像后再使用！</font>").css("text-align","center");
			}else{
				alert(data['info']);
			}
		});
	}
</script>
</head>
<body>
	<div class="container-flow" role="main">
		<div class="row">
			<div class="col-md-12">
				<form>
					<table class="table table-striped table-bordered table-condensed">
						<tr>
							<th colspan="2" style="text-align:center">微信账号绑定</th>
						</tr>
						<tr>
							<td>租户:</td>
							<td><select name="tnt_id" id="tnt_id">
								<volist id="tnt" name="tnts">
									<option value="{$tnt.tnt_id}">{$tnt.tnt_username}</option>
								</volist>	
							</select></td>
						</tr>
						<tr>
							<td>工号:</td>
							<td><input class="form-control" type="text" name="uid" id="uid"></td>
						</tr>
						<tr>
							<td>密码:</td>
							<td><input class="form-control" type="password" id="password"
								name="password"></td>
						</tr>
						<tr>
							<td></td>
							<td><button class="btn btn-info" style="width: 100%"
									type="button" onclick="checkBind();">立刻绑定</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>